{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "experimentalTernaries": true,
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}